<h1>These pets are looking for a home</h1>
<button [routerLink]="['/new']" class="btn btn-link">Add a pet to Shelter</button>
<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let pet of Pets'>
            
            <td>{{pet.name}}</td>
            <th>{{pet._id}}</th>
            <td>{{pet.type}}</td>
            <td>
                <button [routerLink]="['/',pet._id]" class="btn btn-primary">Details</button><br>
                <button [routerLink]="['/edit/',pet._id]" class="btn btn-success">Edit</button>
            </td>
        </tr>
    </tbody>
</table>